<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>profile</title>
      <!-- style css -->
      <link rel="stylesheet" href="../static/controlPage.css">
    </head>
    <body>
    <!--top navbar-------------------------------------------------------------------------------------------->    
    <nav class="top">
            <div class="left-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">Home</li>
                    <li class="nav-item">About</li>
                    <li class="nav-item">Instagram</li>
                    <li class="nav-item">Youtube</li>
                </ul>
            </div>
            <div class="logo">
                <h1>Sara Sabry</h1>
            </div>
            <div class="search">
                <img src="images/search.jpg">
                <input type="text" placeholder="search">
            </div>
            <br>
    </nav>
    <div class="bt">
        <button class="button"><a href="home.hbs">Create Post</a></button>
    </div>
    
    
    <!--Topics gallery---------------------------------------------------------------------------------------->    
    <div class="grid-container">
        <div class="container">
            <img src="images/fashion.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Fashion</div>
            </div>
        </div>
        <div class="container">
            <img src="images/beauty.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Beauty</div>
            </div>
        </div>
        <div class="container">
            <img src="images/lifestyle.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Life Style</div>
            </div>
        </div>
        <div class="container">
            <img src="images/travel.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Travel</div>
            </div>
        </div>
        <div class="container">
            <img src="images/shopping.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Shopping</div>
            </div>
        </div>
        <div class="container">
            <img src="images/yoga.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Yoga</div>
            </div>
        </div>
    </div>
    <div class="bt">
        <button class="button"><a href="home.hbs">Add Topic</a></button>
    </div>
    
    <div class="details">
        <hr>
        <h2>Fashon</h2>
        <div class="row">
            <div class="column">
              <img src="images/fashion.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/fashion.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/fashion.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/fashion.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
              <img src="images/fashion.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column">
                <img src="images/fashion.jpg" alt="Mountains" style="width:100%">
              </div>
          </div>
    </div>
    <div class="details">
        <hr>
        <h2>Travel</h2>
        <div class="row">
            <div class="column">
              <img src="images/travel.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/travel.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/travel.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/travel.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
              <img src="images/travel.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column">
                <img src="images/travel.jpg" alt="Mountains" style="width:100%">
              </div>
          </div>
    </div>
    <div class="details">
        <hr>
        <h2>Beauty</h2>
        <div class="row">
            <div class="column">
              <img src="images/beauty.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/beauty.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/beauty.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="images/beauty.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
              <img src="images/beauty.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column">
                <img src="images/beauty.jpg" alt="Mountains" style="width:100%">
              </div>
          </div>
    </div>
     

            
      
    </body>
</html>