<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>profile</title>
      <!-- style css -->
      <link rel="stylesheet" href="../static/page.css">
    </head>
    <body>
    <!--top navbar-------------------------------------------------------------------------------------------->    
    <nav class="top">
            <div class="left-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">Home</li>
                    <li class="nav-item">About</li>
                    <li class="nav-item">Instagram</li>
                    <li class="nav-item">Youtube</li>
                </ul>
            </div>
            <div class="logo">
                <h1>Sara Sabry</h1>
            </div>
            <div class="search">
                <img src="images/search.jpg">
                <input type="text" placeholder="search">
            </div>
            <br>
    </nav>
    <!--Topics gallery---------------------------------------------------------------------------------------->    
    <div class="grid-container">
        <div class="container">
            <img src="images/fashion.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Fashion</div>
            </div>
        </div>
        <div class="container">
            <img src="images/beauty.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Beauty</div>
            </div>
        </div>
        <div class="container">
            <img src="images/lifestyle.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Life Style</div>
            </div>
        </div>
        <div class="container">
            <img src="images/travel.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Travel</div>
            </div>
        </div>
        <div class="container">
            <img src="images/shopping.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Shopping</div>
            </div>
        </div>
        <div class="container">
            <img src="images/yoga.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Yoga</div>
            </div>
        </div>
      </div>
      <div class="footer">
          <hr>
          <ul>
              <li><img src="images/instagram.png"></li>
              <li><img src="images/youtube.png"></li>
              <li><img src="images/message.png"></li>
          </ul>
          <hr>
          <h3>If you want to be a part of my family ..</h3>
            <div class="centered">
                <div class="round">
                    <h2>Premium</h2>
                    <p>
                        Leave comments <img src="images/checkmark.png"><br>
                        post 2 posts\month <img src="images/checkmark.png"><br>
                        Sent E-mail to me <img src="images/checkmark.png"><br>
                        Post a new topic <img src="images/checkmark.png"><br>
                        pinned your psts <img src="images/checkmark.png"><br>
                    </p> 
                      <button><a href="signup_premuim.hbs"><span>SIGN UP</span></a></button>
                </div>
                <div class="round">
                  <h2>Basic</h2>
                  <p>
                      Leave comments <img src="images/checkmark.png"><br>
                      post 2 posts\month <img src="images/wrong.png"><br>
                      Sent E-mail to me <img src="images/wrong.png"><br>
                      Post a new topic <img src="images/wrong.png"><br>
                      pinned your psts <img src="images/wrong.png"><br>
                  </p>  
                  <button><a href="register.hbs"><span>SIGN UP</span></a></button>
              </div>
            </div>
          
          
      </div>
            
      
    </body>
</html>