<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/profile.css">
        <!-- <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script> -->
        <script src="../../static/script.js"></script>
        <title>Profile Page</title>
        </head>

<body id="top">
<nav>
    <div class="left-nav">
        <img src="../../images/logo0.jpg" class="logo">
        <ul>
            <li><img src="../../images/home.jpg"></li>
            <li><img src="../../images/notification.jpg"></li>
            <!-- <li><img src="images/plus.jpg"></li> -->
        </ul>
    </div>
    <div class="right-nav">
        <div class="search">
            <img src="../../images/search.jpg">
            <input type="text" placeholder="search">
        </div>
        <div class="user-icon online" onclick="setting_menu_toggle()">
            <img src="../../images/user.jpg">
        </div>
    </div>
    <!----------------------------------- setting-menu----------------------------->
    <div class="setting-menu">
        <div id="dark-mode" class="turn-on">
            <span></span>
        </div>
        <div class="setting-menu-inner">
            <div class="user-profile">
                <img src="../../images/user.jpg">
                <div>
                    <p style="font-weight: 550;">Zaynap Sabry</p>
                    <a href="PROFILE.html">See your profile</a>
                </div>
            </div>
            <hr>
            <div class="user-profile1">
                <img src="../../images/feedback.jpg">
                <div>
                    <p style="font-weight: 550;">Give feedback</p>
                    <a href="error404.html">Help us improve Focus</a>
                </div>
            </div>
            <hr>
            <div class="setting-links">
                <img src="../../images/setting.jpg" class="setting-icon">
                <a href="error404.html">User Setting <img src="../../images/arrow.jpg" width="9px"></a>
            </div>
            <div class="setting-links">
                <img src="../../images/helpcenter.jpg" class="setting-icon">
                <a href="error404.html">Help Center <img src="../../images/arrow.jpg" width="9px"></a>
            </div>
            <div class="setting-links">
                <img src="../../images/display.jpg" class="setting-icon">
                <a href="#">Dark Mode</a>
            </div>
            <div class="setting-links">
                <img src="../../images/logout.jpg" class="setting-icon">
                <a href="error404.html">Log Out <img src="../../images/arrow.jpg" width="9px"></a>
            </div>
        </div>
    </div>
</nav>
<!-- -------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="center">
    <div class="main-feed">
        <!----------------------------------------------------create post--------------------------------------------------->
        <div class="navrow">
            <ul>
                <li onclick="tabs(0)" class="Posts">Posts </li>
                <li onclick="tabs(1)" class="Comments">Comments</li>
                <li onclick="tabs(2)" class="Likes">likes</li>
            </ul>
        </div>
        <!----------------------------------------------------first post--------------------------------------------------->
        <div class="post-container">
            <div class="post-row">
                <div class="user-profilee">
                    <img src="../../images/user.jpg">
                    <div>
                        <p>Zaynap Sabry</p>
                        <span>March 13 2022, 14:02</span>
                    </div>
                </div>
                <a href="#"> <i class="fas fa-ellipsis-v"></i> </a>
            </div>
            <p class="post-text">this our first social network project <span>@focus team</span> <a
                    href="#">#projects</a>
                <a href="#">#social_network</a>
            </p>
            <img src="../../images/feed1.jpg" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <button><img src="../../images/like1.png" alt=""></button>
                    <button id="open" onclick="show_pup()"><img src="../../images/comment1.png" alt="">
                    </button>
                    <div class="modal-container" id="modal_container">
                        <div class="modal" id="pup">
                            <button id="close" onclick="hide_pup()">
                                comment
                            </button>
                        </div>
                    </div>
                </div>
                <div class="post-profile-icon">
                    <img src="../../images/user.jpg"> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <!----------------------------------------------------second post------------------------------------------------------>
        <div class="post-container">
            <div class="post-row">
                <div class="user-profilee">
                    <img src="../../images/user.jpg">
                    <div>
                        <p>Yasmina nosier</p>
                        <span>june 22 2021, 20:13</span>
                    </div>
                </div>
                <a href="#"> <i class="fas fa-ellipsis-v"></i> </a>
            </div>
            <p class="post-text">imagination follow <span>@mark design</span>
                <a href="error404.html">#Natural</a>
            </p>
            <img src="../../images/2.jpg" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <button><img src="../../images/like1.png" alt=""></button>
                    <button id="open" onclick="show_pup()"><img src="../../images/comment1.png" alt="">
                    </button>
                    <div class="modal-container" id="modal_container">
                        <div class="modal" id="pup">
                            <button id="close" onclick="hide_pup()">
                                comment
                            </button>
                        </div>
                    </div>
                </div>
                <div class="post-profile-icon">
                    <img src="../../images/user.jpg"> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <!-----------------------------------------------------------third post------------------------------------------------------------->
        <div class="post-container">
            <div class="post-row">
                <div class="user-profilee">
                    <img src="../../images/user.jpg">
                    <div>
                        <p>Nada yasser</p>
                        <span>sep 18 2021, 16:08</span>
                    </div>
                </div>
                <a href="#"> <i class="fas fa-ellipsis-v"></i> </a>
            </div>
            <p class="post-text">New Pic</a></p>
            <img src="../../images/3.jpg" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <button><img src="../../images/like1.png" alt=""></button>
                    <button id="open" onclick="show_pup()"><img src="../../images/comment1.png" alt="">
                    </button>
                    <div class="modal-container" id="modal_container">
                        <div class="modal" id="pup">
                            <button id="close" onclick="hide_pup()">
                                comment
                            </button>
                        </div>
                    </div>
                </div>
                <div class="post-profile-icon">
                    <img src="../../images/user.jpg"> <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------categories----------------------------------------------- -->
    <div class="side-feed">
        <div class="top">
            <header style="background-image:url(images/background11.jpg)"><img src="../../images/icons8-add-image-24.png"></header>
            <div class="photo">
                <img src="../../images/user.jpg">
            </div>
            <div class="user">
                <h3>Zaynap Sabry</h3>
                <h6>u/zaynapsabry22</h6>
                <h6>666 followers</h6>
            </div>
            <div class="post">
                <button class="post-button">
                    <a href="HOME.html"><span>Create Post</span></a>
                </button>
            </div>
        </div>

        <div class="buttom">
            <ul>
                <div class="leftbuttom">
                    <li><a class="list1" href="#">Help</a></li>
                    <li><a class="list1" href="#">About</a></li>
                    <li><a class="list1" href="#">Blog</a></li>
                    <li><a class="list1" href="#">Terms</a></li>
                    <li><a class="list1" href="#">Content Policy</a></li>
                </div>
                <div class="rightbuttom">
                    <li><a class="list1" href="#">Privacy Policy</a></li>
                    <li><a class="list1" href="#">Comunities</a></li>
                    <li><a class="list1" href="#">Topics</a></li>
                </div>
            </ul>
            <br><br>
            <p> &nbsp&nbsp Focus &#169 2022, All rights reserved</p>

            <div class="back">
                <button class="back-button">
                    <a href="#top"><span>Back To Top</span></a>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="../../static/script.js"></script>
</body>

</html>