<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Focus</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <div class="login-form">
        <div class="text">
            SIGN UP
        </div>
        <form>
            <div class="field">
                <input type="Name" placeholder="Name">
            </div>
            <div class="field">
                <input type="text" placeholder="Email or Phone">
            </div>
            <div class="field">
                <input type="password" placeholder="Password">
            </div>
            <div class="field">
                <input type="password" placeholder=" Confirm Password">
            </div>
            <div class="field">
                <input type="text" placeholder="Enter your visa number">
            </div>
            <div class="field">
                <input type="password" placeholder="Visa Password">
            </div>
            <a href="HOME.html"><button>SIGNUP</button></a>
        </form>
    </div>