* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    list-style: none;
  }
  
  :root {
    --body-color: #ffffff;
    --nav-color: rgb(10, 105, 134);
    --bg-color: #fff;
    --letter: #626262;
  }
  .dark-theme {
    --body-color: #000000;
    --nav-color: #242222;
    --bg-color: #242222;
    --letter: #e0d5d5;
  }
  
  body {
    background-color: var(--body-color);
    transition: background 0.3s;
  }
  .top{
    background-image: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 2%;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .left-nav ul li {
    list-style: armenian;
    display: inline;
    color: #ffffff;
    margin: 5px;
    padding: 0 15px;
  }
  
  .logo h1{
    font-family: cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding: 0 70px;
    margin: 50px;
    color: #fff;
  }
  .search {
    background-color: #efefef9d;
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 35px;
  }
.search img {
    width: 18px;
  }
.search input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
  }
.bt{
    text-align: center;
}
.bt button {
    border-radius: 15px;
    background-color: #265e77; 
    border: none;
    color: white;
    padding: 15px 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
    }
.bt button a {
  color: white;
  text-decoration: none;
}
/*Gallery Css*/
.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 25px;
    padding: 10px;
  }
.container {
  width: 100%;
  border-radius: 10px;
  }
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.container:hover .image {
    opacity: 0.3;
  }
  
.container:hover .middle {
    opacity: 1;
  }
  
.text {
    background-color: #03335f;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/*Categories details*/
.details hr{
    margin: 10px;
}
.details h2{
    font-family: cursive;
    margin:5px;
}
.details{
    box-sizing: border-box;
    text-align: center;
}
.details .column {
    float: left;
    width: 32%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
 .details .row::after {
    content: "";
    clear: both;
    display: table;
  }
 